bg-color = #111
transition-speed = 0.3s

@keyframes fadeInFromNone
  0%
    display none
    opacity 0
  1%
    display block
    opacity 0

  100%
    display block
    opacity 1

@import "partials/fonts"
@import "partials/grid"
@import "partials/dateselect"
@import "partials/switch"
@import "partials/slider"
@import "partials/planet"

body
  user-select none
  background bg-color
  width 100%
  height 100%
  overflow hidden
  margin 0
  color #fff
  font-family "Yantramanav"
  font-weight 400
  font-size 13px

.container
  margin auto
  overflow hidden
  min-width 1000px
  position absolute
  // right 0
  // left 0
  // top 0
  // bottom 0
  top 50%
  left 50%
  transform translateY(-50%) translateX(-50%)
  width 100%
  height 100%

.about
  padding 0 20px
  position absolute
  z-index 300
  top 50px
  display none
  left 0
  right 0

  &.open
    display block
    animation-duration 1s
    animation-name fadeInFromNone

.navbar
  background-color rgba(0,0,0,0.6)
  position absolute
  z-index 200
  right 0
  left 0
  top 0
  bottom 100%
  padding 10px 20px
  color #999
  height 20px
  transition background-color transition-speed ease-out,
    bottom transition-speed ease-out,
    height transition-speed ease-out
  &.open
    bottom 0
    height 100%
    background-color rgba(0,0,0,0.8)
    .mainmenu .hamburger .hamburger__bars
    .mainmenu:hover .hamburger .hamburger__bars
      background none
      &:before
        top 0
        transform rotate(45deg)
        transition-delay 0s, transition-speed
      &:after
        bottom 0
        transform rotate(-45deg)
        transition-delay 0s, transition-speed

  .mainmenu
    font-weight 300
    font-size 17px
    text-transform uppercase
    cursor pointer
    transition color transition-speed ease-out
    &:hover
      color #fff
      .hamburger__bars
        background #fff
        &:before, &:after
          background #fff

  .title
    margin-left 25px
  .hamburger
    position absolute
    overflow hidden
    margin 0
    padding 0
    width 20px
    height 20px
    .hamburger__bars
      position absolute
      top 9px
      left 0
      right 0
      height 2px
      background-color #999
      transition background-color transition-speed ease-out
      &:before
      &:after
        position absolute
        left 0
        width 100%
        height 2px
        background-color #999
        content: ""
        transition-duration transition-speed, transition-speed, transition-speed
        transition-delay transition-speed, 0s, 0s
        transition-timing-function ease-out, ease-out, ease-out
      &:before
        top -6px
        transition-property top, transform, background-color
      &:after
        bottom -6px
        transition-property bottom, transform, background-color

.solarSystem
  position absolute
  z-index 100
