@import url('http://fonts.googleapis.com/css?family=Yantramanav:400,100,300,500')

@font-face
  font-family 'StarFontSans'
  src url('../fonts/StarFontSans.eot')
  src url('../fonts/StarFontSans.eot?#iefix') format('embedded-opentype'),
       url('../fonts/StarFontSans.woff2') format('woff2'),
       url('../fonts/StarFontSans.woff') format('woff'),
       url('../fonts/StarFontSans.ttf') format('truetype'),
       url('../fonts/StarFontSans.svg#StarFontSans') format('svg')
  font-weight normal
  font-style normal
