.slider
  position relative
  margin 0 0 0 8px
  top -12px
  &.disabled
    .slider__input::-webkit-slider-thumb
      background-color #555
      cursor auto
      &:hover
        background-color #555

.slider__input
  vertical-align middle
  margin 20px 8px
  appearance none
  background-color #555
  height 3px
  width 50px
  outline none

.slider__input::-webkit-slider-thumb
  appearance none
  background-color #999
  width 10px
  height 20px
  border 2px solid #111
  transition background-color transition-speed ease-out
  &:hover
    cursor pointer
    background-color #fff
